<div id="<%= dom_id exercise_instance %>">
  <p>
    <strong>User:</strong>
    <%= exercise_instance.user_id %>
  </p>

  <p>
    <strong>Exercise log:</strong>
    <%= exercise_instance.exercise_log_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= exercise_instance.exercise_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= exercise_instance.weight %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= exercise_instance.reps %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= exercise_instance.time %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= exercise_instance.distance %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= exercise_instance.sets %>
  </p>

  <p>
    <strong>Is pr:</strong>
    <%= exercise_instance.is_pr %>
  </p>

</div>
