<%= form_with(model: [@exercise_log, @exercise_instance], local: true) do |form| %>
  <% if exercise_instance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise_instance.errors.count, "error") %> prohibited this exercise_instance from being saved:</h2>

      <ul>
        <% exercise_instance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <%= form.label :exercise_id, style: "display: block" %>
  <select name="exercise_instance[exercise_id]" id="exercise_instance_exercise_id" onchange="this.form.requestSubmit();" data-turbo-action="update" data-turbo-frame="exercise_form">
    <% Exercise.all.each do |exercise| %>
      <option value="<%= exercise.id %>"><%= exercise.name %></option>
    <% end %>
  </select>
</div>

  
  <%= render "strength_form_fields", exercise_instance: @exercise_instance %>

  <div>
    <%= form.label :is_pr, style: "display: block" %>
    <%= form.check_box :is_pr %>
  </div>

  <!-- Add a hidden field to capture the start_time parameter from the URL -->
  <%= form.hidden_field :start_time, value: params[:start_time] if params[:start_time].present? %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
