<%= form_with(model: [@exercise_log, @exercise_instance], local: true) do |form| %>
  <% if exercise_instance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise_instance.errors.count, "error") %> prohibited this exercise_instance from being saved:</h2>

      <ul>
        <% exercise_instance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :exercise_id, style: "display: block" %>
    <%= form.collection_select :exercise_id, Exercise.all :id, :name, prompt: "Select an Exercise" %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.number_field :weight %>
  </div>

  <div>
    <%= form.label :reps, style: "display: block" %>
    <%= form.number_field :reps %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.number_field :time %>
  </div>

  <div>
    <%= form.label :distance, style: "display: block" %>
    <%= form.number_field :distance %>
  </div>

  <div>
    <%= form.label :sets, style: "display: block" %>
    <%= form.number_field :sets %>
  </div>

  <div>
    <%= form.label :is_pr, style: "display: block" %>
    <%= form.check_box :is_pr %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
